.App{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.heading{
  color: transparent;
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-clip: text;
font-size: 3rem;

}

.mainContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0.5rem; */
  position: relative;
}
/* .to{
  position: absolute;
  top: -3%;
  left: 54%;
} */

.textToTranslate, .translated{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /* gap: 2rem; */
}

.inputBox, .translatedText{
  width: 100%;
  height: 20rem;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  resize: none  ;
  background-color: #f5f5f5;
  font-family: inherit;
  border: 1px solid rgb(128, 128, 128, 0.2);
  overflow-y: scroll;
}

.source, .target{
  width: 100%;
  display: flex;
  align-items: center;
}

select{
  width: 100%;
  border: 1px solid rgb(128, 128, 128, 0.2);
  background: #f5f5f5;
  padding: 1rem;
  outline: none;
  text-align: center;
}

.translateBtn{
  width: 100%;
  height: 2.5rem;
  border: 1px solid rgb(128, 128, 128, 0.2);
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}
